## Gradle
**/.gradle
**/build

## Eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## IntelliJ
/out
/classes
/.idea
*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.suo
.vs
